---
name: build-test

"on":
  push:
    branches:
      - master
      - devel
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Clone netbox-docker
        uses: actions/checkout@v6
        with:
          repository: netbox-community/netbox-docker
          path: netbox-docker

      - name: Checkout the latest netbox-docker tag
        working-directory: ${{ github.workspace }}/netbox-docker
        run: |
          git checkout $(git describe --tags `git rev-list --tags --max-count=1`)

      - run: |
          ./test/test.sh

      - name: Show Docker logs
        if: ${{ always() }}
        run: docker compose logs
        working-directory: ./netbox-docker/
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v6

      - name: Get the tag of the netbox image in the Dockerfile
        run: cat Dockerfile | grep '^FROM' | sed -n "s/^FROM.*:\(v.*\)$/::set-output name=TAG::\1/p"
        id: get_tag

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: devonm/netbox:${{ steps.get_tag.outputs.TAG }}
          push: true
